bin
fuzz-test/lex/fuzz-corpus
fuzz-test/lex/fuzz-corpus-min
fuzz-test/lex/dictionary.txt
.vs
.vscode
.cppbuild
.cppb/dependencies
compile_commands.json
.cache
src/opts_O1.inc
src/opts_O2.inc
src/opts_O3.inc
*.o
*.exe
*.out
*.ll
*.pch
*.gch
